*{
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Rokkitt', serif;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

h2 {
  font-weight: bold;
  padding: 25px;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  padding: 50px;
}

.nav li {
  padding: 10px;
  border: 1px solid white;
  margin: 5px;
  background: lightpink;
}

.nav a {
  text-decoration: none;
}

header p {
  line-height: 25px;
  padding: 20px;
  margin-bottom: 50px;
}

.wrapper {
  width: 100%;
}

.profile-img {
  width: 100%;
  padding: 50px;
  padding-bottom: 10px;
}

.img {
  width: 100%;
}

#portfolio img {
  padding: 15px;
}

#portfolio p {
  padding: 20px;
  padding-top: 0;
}

#contact {
  margin-top: 80px;
  margin-bottom: 30px;
}

#contact h3 {
  padding: 20px;
  padding-bottom: 50px;
}

#contact p:first-child {
  padding-bottom: 50px;
}

#copyright p {
  float: left;
  margin: 10px 10px;
  margin-bottom: 20px;
}

#copyright p:last-child {
  float: right;
}

#copyright a {
  text-decoration: none;
}