*{
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Rokkitt', serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  padding: 30px;
}

h2 {
  padding: 25px;
}

h3 {
  padding: 50px;
  padding-bottom: 15px;
  font-size: 20px;
}

.nav li {
  padding: 10px;
  border: 1px solid white;
  margin: 0px 15px;
  font-size: 20px;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
}

header p {
  line-height: 20px;
  padding: 20px;
}

.wrapper, .img {
  width: 100%;
}

.profile-img {
  width: 100%;
  padding: 60px 60px 10px 60px;
}

#portfolio img {
  padding: 15px;
}

#portfolio p {
  padding: 20px;
  padding-top: 0;
  line-height: 20px;
}

hr {
  margin: 0;
}

#contact {
  margin-top: 80px;
  margin-bottom: 30px;
}

#contact h3 {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 40px;
}

#contact-me {
  padding: 0px 30px 20px 20px;
}

.contact-info {
  margin-bottom: 10px;
  text-align: center;
}

#copyright a {
  float: right;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .large {
    display: none;
  }

  .small {
    padding: 20px;
  }

  #copyright p {
    float: left;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 20px;
  }

  h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
    padding-bottom: 30px;
    clear: both;
  }

  header ul {
    font-size: 30px;
    font-weight: bold;
  }

  nav li {
    display: inline-block;
  }

  .profile-img {
    float: right;
    width: 40%;
    padding: 20px 10px 20px 20px;
    margin: 35px 0px;
  }

  header p {
    padding-top: 54px;
    font-size: 25px;
    text-align: left;
  }

  .column {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
  }

  #contact {
    text-align: center;
    font-size: 25px;
  }

  #portfolio p {
    font-size: 20px;
    padding: 0px 60px 40px 40px;
  }

  #contact-me, #contact-info {
    font-size: 25px;
  }

  #contact-me {
    padding: 0px 50px 50px 50px;
  }

  hr {
    margin-top: 60px;
  }
  .small {
    display: none;
  }

  .large {
    padding: 20px;
  }

  #copyright p {
    float: left;
    font-size: 20px;
    padding: 20px;
  }

  #copyright a {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
 
  .container-1 {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    padding-left: 20px;
  }

  ul {
    margin-top: 25px;
  }

  header p {
    line-height: 1;
    text-align: left;
  }

  .column {
    display: inline-block;
    width: 33.3%;
    margin-right: -4px;
    vertical-align: top;
  }

  #contact-me {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
  }

  .container-1 a,  #copyright p, #copyright a  {
    font-size: 30px;
  }

  .container-1 li:last-child {
    margin-right: 0px;
  } 
}